<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
        background-color: #282c35;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
      }
      .card {
        width: 300px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        position: relative;
      }
      .card:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom right, #3498db, #2ecc71);
        z-index: -1;
      }
      .card-content {
        padding: 20px;
        color: #333;
      }
      h1 {
        margin: 0;
        font-size: 20px;
        color: #333;
      }
      p {
        margin: 10px 0 0;
        font-size: 14px;
        color: #555;
      }
    </style>
  </head>
  <body>
    <div class="card">
      <div class="card-content">
        <h1>FLASK</h1>
        <p>{{ message }}</p>
        <h2>Liste de Fruits</h2>
        <ul>
            {% for fruit in fruits %}
                <li>{{ fruit }}</li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
